<!--
<form #formRef="ngForm" (ngSubmit)="onSunmit(formRef.value)">
  <fieldset ngModelGroup="login">
    <label class="label">Form</label>
    <input
      name="username"
      type="text"
      [(ngModel)]="username"
      #usernameRef="ngModel"
      minlength="3"
      required
    >

    <input type="password" ngModel name="password">
    <div *ngIf="usernameRef?.errors?.required">This field is required</div>
    <div *ngIf="usernameRef?.errors?.minlength">
      This field must e longer then {{ usernameRef?.errors?.minlength.requiredLength }} characters.
      You only typed {{ usernameRef?.errors?.minlength.actualLength }}
    </div>
  </fieldset>
  <button type="submit">Submit</button>
</form>
-->

<form #formRef="ngForm">
  <!--[ngModel]="currectLocation"-->
  <!-- <div *ngFor="let location of locations">
     <input [attr.id]="location" name="location" type="radio" ngModel [value]="location" required>
     <label [attr.for]="location">{{ location }}</label>
   </div>-->
  <div>
    <select name="location" [ngModel]="locations[0]">
      <option *ngFor="let location of locations" [value]="location">{{ location }}</option>
    </select>
  </div>
  {{ formRef.value | json }}
  {{ formRef.valid | json }}
</form>
